                           CONSTRAINTS
                         ===============

                        Data integrity(To maintaine proper data)or
                           /      \    (To maintaine valid data)
                          /        \
                        SQL        T-SQL
                    CONSTRAINTS   TRIGGERS    

     Constraints are used to prevents or stops invalid data
entry into our tables. Generally constraints are created on
table columns.

 SQL server having following types of constraints.
These are

1. Not null
2. Unique
3. Primary key
4. Foreign key
5. Check
6. Default
  
   in database if we want to maintain proper data or valid data 
according to client requirement then we are using SQL language
constraints, Transact-SQL language triggers.


1)NOT NULL:- This constraint doesn't support table level. 
===========  This constraint doesn't accepts null values.
             But it will accepts duplicate values.


2.UNIQUE:-This constraint is created on column level, table level.
========  This constraint doesn't accepts duplicate values. But 
          it will accepts one null value.


3.Primary Key:- Primary key is Uniquely identifying a record in a 
=============   table. There can be only one primary key in a table. 
                primary key doesn't accepts duplicate, null values. 


4.Foreign Key:-in all relational databases If we want to establishes
=============  relationship between tables then we are using 
               referential integrity constraint Foreign Key.


  Generally One table foreign key must belongs to another table
primary key. And also these primary key, foreign key columns must
belong to same datatype.

  Always foreign key values based on related primary key values only.
Generally primary key doesn't accepts duplicate, null values 
where as foreign key accepts duplicate, null values.


5.CHECK:-Check constraint is used to define logical conditions
=======  according to client business rules.


------------------------------------------------------------------------------------------------------
1.Create a student123 table with constraints based on following
  conditions.

---->after creating the table insert the records and observe
     the outputs.

SID          don't accept nulls and duplicates

SNAME        don't accept nulls

Marks        Marks between 0 to 100

MAILID       should not be duplicates

------------------------------------------------------------------------------------------------------
2.Create a emp3 table with constraints based on following
  conditions.

---->after creating the table insert the records and observe
     the outputs.

USERID       don't accept nulls and duplicates

USERNAME     don't accept nulls and duplicates

PWD          Password minimum 8 characters

-----------------------------------------------------------------------------------------------------
3.Create the emp4 table with constraints based on following
  conditions.

--->after creating the table insert the records and observe
    the outputs.

EMPNO      don't accept nulls and duplicates 

ENAME      don't accept nulls

GENDER     Must be M or F

SAL        Minimum 5000 (means 5000 or above it will accept)


------------------------------------------------------------------------------------------------------
    

4.Create the BANK table with constraints based on following
  conditions.

--->after creating the table insert the records and observe
    the outputs.

ACCNO       Should not be duplicate & null

ACCTYPE     Must be 'S' OR 'C'

BAL         Must be min 1000

------------------------------------------------------------------------------------------------------
5.Create table PROJECT table with constraints based on following
  conditions.

--->after creating the table insert the records and observe
    the outputs.

PID              should not accept nulls & duplicates

PNAME            don't accept nulls

START_DATE

END_DATE

COST             Must be at least 20000

STATUS           Must be ACTIVE or COMPLETED or ON HOLD     



------------------------------------------------------------------------------------------------------
6.Create test123 table with following constraints by using table level

SNO        it doesn't accept null values and duplicate values

SNAME      should be capital letters 

SAL        more than 9000



------------------------------------------------------------------------------------------------------

