                                    
                                CONSTRAINTS TASK
                              ===================

Default -in all relational databases if we want to provide
=======  default values into a table column then we are using
         default clause.

• It is used to apply default value to table column.

• If we pass the value, it takes that value. if we don't pass the value
  it takes default value.


syntax:-
======
columnname datatype(size) default defaultvalue

EG:-
===

SQL>create table test4(name varchar2(10), sal number(10) default 3000);

SQL>insert into test4(name)values('SURYA');----->Skipping columns method

SQL>insert into test4 values('ANUSHKA',5000);

SQL>select * from test4;
   
    NAME         SAL
  -------     ---------
  SURYA          3000
  ANUSHKA        5000

------------------------------------------------------------------------------------------------------

1.Create a student10 table with 4 columns and apply following constraints.

--->after creating the table insert the records and observe
    the outputs.

SID           don't accept duplicate values and null values
SNAME         don't accept null values
INAME         by default INAME  is NARESH IT
CITY          by default CITY is AMMERPET 
FEE           by default FEE is 30000

      

                   

2.Establish the relation b/w courses and students table by using
  Primary key, Foreign key with the following Rules

--->after creating the table insert the records and observe
    the outputs.

Rules:-

1.cid must be unique and not null.
2.cname must be not null.


Rules:-

1.sid doesn't accept nulls and duplicates
2.sname doesn't accept nulls
3.cid should present in courses table cid column





3.Establish the relation b/w DOCTORS and PATIENTS table by using
  Primary key, Foreign key


DOCTORS                                        PATIENTS
=======                                        ==========
    PK                                           PK                  FK
 DOCTORID     NAME    SPECIALTY                PATIENTID    NAME    DOCTORID 

 



4.Create following ACCOUNTS, TRANSACTIONS tables with given rules ?

Rules :- 

1. ACCNO should not be duplicate and null
2. ACTYPE  should be ‘S’ OR ‘C’
3. Bal must be min 1000


Rules :- 

1. TRID should not be duplicate and null
2. TTYPE  must be 'W' OR 'D'
3. By default TDATE is today’s date
4. AMT must be multiple of 100
5. ACCNO should present in accounts table ACCNO colum



5. Create following CUSTOMER123,ORDERS123 tables with given rules ?

Rules:-

1. CUSTID must be unique and not null.

2. CNAME must be not null.

3. CITY must be either GUNTUR,VJD, or HYD



Rules:-

1. ORDERID must be unique and not null.

2. ODATE must be default to the current date.

3. AMOUNT must be greater than 0.

4. CUSTID must be present in the CUSTOMER table.





6.Create the emp5 table with following columns. and you only 
  think which constraint is suitable at the time of table creation 
  it self and use all constraints(SQL SERVER MOCK INTERVIEW QUESTION)

NOTE:-for this question just create the table with constraints
       is enough.

EMPNO     ENAME     SAL     MGRNO     AGE     ADDRESS    PHONO




ON DELETE CASCADE:-On delete cascade clause used along with foreign key
                   constraint. Whenever child table having on delete
                   cascade clause. If we are deleting master table
                   records from master table then automatically
                   deleted from child.



7.Create mas table, child table and establish relation b/w tables .

--->after creating the tables insert the records. delete the mas table
    records and observe the outputs in child table.

mas
---
sno ---->primary key 

child
----
sno ---->foreign key along with on delete cascade 
                         



    
